

.wrapper{
  nav{
    background-color: rgb(150,300,150);
    height: 50px;

    ul{
      display: flex;

      li{
        list-style: none;
        padding: 5px;

        a{

        }
      }

    }
  }
}

